#!/bin/bash

alias vi="vim -Cu NONE"
alias byobu="TERM=screen-256color byobu"
alias bynewt="TERM=screen-256color byobu new -t "

alias sstartx="startx;exit"

if [ -e $HOME/.aliases.local ]
then
	source $HOME/.aliases.local
fi
