#!/bin/bash

alias vim="TERM=xterm-256color vim"
alias vi="TERM=xterm-256color vim -Cu NONE"
alias e=vi
alias byobu="TERM=screen-256color byobu"
alias bynewt="TERM=screen-256color byobu new -t "

alias sstartx="startx;exit"

if [ -e $HOME/.aliases.local ]
then
	source $HOME/.aliases.local
fi
