Xft.dpi: 96
Xft.hinting: 0
Xft.hintstyle: hintnone
Xft.autohint: 0
Xft.antialias: 1
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

*foreground:  #aaaaaa
*background:  #2e3436

URxvt*font: xft:Monaco Nerd Font Mono:size=12
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt*saveLines: 1048576
URxvt*scrollBar: false
URxvt*geometry: 80x25

URxvt*cursorBlink: true
URxvt*cursorColor: #55aaff
URxvt*pointerColor: #55aaff

! Real transparency
!URxvt*background: rgba:0000/0000/0000/eeee
!URxvt*depth: 32
! Fake transparency
URxvt*background:  #2e3436
URxvt*transparent: true
!URxvt*shading: 10
URxvt*tintColor:   #001144
!--------------------

URxvt*color0:      #2e3436
URxvt*color1:      #a40000
URxvt*color2:      #4e9a06
URxvt*color3:      #8f5902
URxvt*color4:      #204a87
URxvt*color5:      #5c3566
URxvt*color6:      #0088aa
URxvt*color7:      #babdb6
URxvt*color8:      #555753
URxvt*color9:      #ef2929
URxvt*color10:     #73d216
URxvt*color11:     #fce94f
URxvt*color12:     #729fcf
URxvt*color13:     #ad7fa8
URxvt*color14:     #55ddff
URxvt*color15:     #eeeeec

!= Full Tango Theme
! Butter            #fce94f #edd400 #c4a000
! Orange            #fcaf3e #f57900 #ce5c00
! Chocolate         #e9b96e #c17d11 #8f5902
! Chameleon         #8ae234 #73d216 #4e9a06
! Sky Blue          #729fcf #3465a4 #204a87
! Plum              #ad7fa8 #75507b #5c3566
! Scarlet Red       #ef2929 #cc0000 #a40000
! Aluminium         #eeeeec #d3d7cf #babdb6
!                   #888a85 #555753 #2e3436
!
!= Dawn Bringer 32
! #000000 #222034 #45283c #663931
! #8f563b #df7126 #d9a066 #eec39a
! #fbf236 #99e550 #6abe30 #37946e
! #4b692f #524b24 #323c39 #3f3f74
! #306082 #5b6ee1 #639bff #5fcde4
! #cbdbfc #ffffff #9badb7 #847e87
! #696a6a #595652 #76428a #ac3232
! #d95763 #d77bba #8f974a #8a6f30

